footer {
    background-color: #FFE8B4;
}

#footer-itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #1D1D1D;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    
    #footer-itens {
        flex-direction: column;
        gap: 20px;
    }
}